<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="utf-8">
    <title>AutoKomis.pl</title>

</head>

<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main" layout:fragment="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="input-group mb-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 order-md-1">
            <h4 class="mb-3">Informacje o pojeździe</h4>
            <form class="needs-validation" method="post" novalidate th:action="@{/employee/car-save}"
                  th:object="${car}">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="number" class="form-control" th:field="*{id}"
                               readonly hidden>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="markName">Marka pojazdu</label>
                        <input type="text" class="form-control" id="markName" value=""
                               required th:field="*{mark}">
                        <div class="invalid-feedback">
                            Valid mark name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="modelName">Model pojazdu</label>
                        <input type="text" class="form-control" id="modelName"
                               value="" required th:field="*{model}">
                        <div class="invalid-feedback">
                            Valid model name is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="productionYear">Rok produkcji</label>
                        <input type="text" class="form-control" id="productionYear"
                               value="" required th:field="*{productionYear}">
                        <div class="invalid-feedback">
                            Valid production year is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="vinBody">Numer nadwozia</label>
                        <input type="text" class="form-control" id="vinBody"
                               value="" required th:field="*{bodyNumber}">
                        <div class="invalid-feedback">
                            Valid body vin is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="registerNumber">Numer rejestracyjny</label>
                        <input type="text" class="form-control" id="registerNumber" placeholder="" value=""
                               required th:field="*{regNumber}">
                        <div class="invalid-feedback">
                            Valid register number is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="policyNumber">Numer polisy</label>
                        <input type="text" class="form-control" id="policyNumber" placeholder="" value=""
                               required th:field="*{ocNumber}">
                        <div class="invalid-feedback">
                            Valid policy number is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fuelType">Rodzaj paliwa</label>
                        <select id="fuelType" class="form-control" th:field="*{fuelType}">
                            <option selected="selected" value=" ">Wybierz...</option>
                            <option th:each="type:${T(com.example.cardealer.utils.enums.FuelType).values()}"
                                    th:value="${type}"
                                    th:text="${type.getType()}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Valid fuel type is required.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="distance">Przebieg</label>
                        <input type="text" class="form-control" id="distance" placeholder="" value=""
                               required th:field="*{distance}">
                        <div class="invalid-feedback">
                            Valid distance is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="capacityEngine">Pojemność silnika</label>
                        <input type="text" class="form-control" id="capacityEngine" placeholder="" value=""
                               required th:field="*{capacityEngine}">
                        <div class="invalid-feedback">
                            Valid capacity engine is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="powerEngine">Moc silnika</label>
                        <input type="text" class="form-control" id="powerEngine" placeholder="" value=""
                               required th:field="*{powerEngine}">
                        <div class="invalid-feedback">
                            Valid power engine is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="transmission">Rodzaj skrzyni biegów</label>
                        <select id="transmission" class="form-control" th:field="*{transmission}">
                            <option selected="selected" value=" ">Wybierz...</option>
                            <option th:each="type:${T(com.example.cardealer.utils.enums.Transmission).values()}"
                                    th:value="${type}"
                                    th:text="${type.getType()}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Valid transmission type is required.
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="price">Proponowana cena</label>
                        <input type="text" class="form-control" id="price" placeholder="" required
                               th:field="*{price}">
                        <div class="invalid-feedback">
                            Valid price is required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="testing-drive">Ilość jazd próbnych</label>
                        <input type="text" class="form-control" id="testing-drive" placeholder="" required
                               th:field="*{testDrive}">
                        <div class="invalid-feedback">
                            Valid price is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-6">
                        <label for="description">Opis</label>
                        <textarea type="text" class="form-control" id="description" rows="8" placeholder=""
                                  required th:field="*{description}"></textarea>
                        <div class="invalid-feedback">
                            Valid price is required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">


                <div class="col-md-6 mb-3 offset-md-3">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">OK</button>
                </div>
                <hr class="mb-4">


            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</main>

</body>
</html>
