<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="utf-8">
    <title>AutoKomis.pl</title>
</head>

<body>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main" layout:fragment="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="input-group mb-3">
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="input-group mb-3">
            <form method="get" th:action="@{/worker/cars-list-filter}" th:object="${carDto}">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="transaction">Wyświetl pojazdy według statusu:</label>
                    <select class="custom-select" id="transaction" th:field="*{transaction}">
                        <option th:each="type:${T(com.example.cardealer.model.enums.Transaction).values()}"
                                th:value="${type}"
                                th:text="${type.getType()}"></option>
                    </select>
                    <!--<div class="input-group-prepend">-->
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Wyświetl</button>
                    <!--</div>-->
                </div>
            </form>
        </div>
    </div>
    <h2>Lista pojazdów</h2>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-prepend">
                <a th:href="@{/worker/car-add}">
                    <button class="btn btn-outline-success" type="button">Dodaj samochód do oferty</button>
                </a>
            </div>
        </div>
    </div>
    <div class="table-responsive ">
        <table class="table table-striped table-sm text-center">
            <thead>
            <tr>
                <th>Zdjęcie</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Rok produkcji</th>
                <th>Przebieg</th>
                <th>Cena</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car :${cars}">
                <td>
                    <img th:src="@{/images/index/images.jpg}" width="275" height="183"/>
                </td>
                <td style="font-size: 18px;" th:text="${car.mark}"></td>
                <td style="font-size: 18px;" th:text="${car.model}"></td>
                <td style="font-size: 18px;" th:text="${car.productionYear}"></td>
                <td style="font-size: 18px;" th:text="${car.distance}"></td>
                <td style="font-size: 24px; color: #F00;" th:text="${car.price}+' '+PLN"></td>
                <td>
                    <a class="nav-link" th:href="@{'/worker/'+${car.id}+'/car-edit'}">
                        <button class="btn btn-outline-info" type="button">EDYTUJ</button>
                    </a>
                </td>
                <td th:style="${#httpServletRequest.getRequestURI().startsWith('/worker/show/car?transaction=RENOUNCEMENT') ? 'display:none':''}">
                    <a class="nav-link" th:href="@{'/worker/'+${car.id}+'/car-accept'}">
                        <button class="btn btn-outline-success" type="button">DODAJ <br/>DO OFERTY</button>
                        <!--trzy butony i zależnie od tego co przyjdzie z adresu, wyświetla
                        odpowiednią treść-->
                    </a>
                    <!--<a class="nav-link" th:href="@{'/worker/'+${car.id}+'/car-sale'}" >
                        <button class="btn btn-outline-success" type="button">DODAJ <br/>DO OFERTY</button>
                        &lt;!&ndash;trzy butony i zależnie od tego co przyjdzie z adresu, wyświetla
                        odpowiednią treść&ndash;&gt;
                    </a>
                    <a class="nav-link" th:href="@{'/worker/'+${car.id}+'/car-accept'}" >
                        <button class="btn btn-outline-success" type="button">DODAJ <br/>DO OFERTY</button>
                        &lt;!&ndash;trzy butony i zależnie od tego co przyjdzie z adresu, wyświetla
                        odpowiednią treść&ndash;&gt;
                    </a>-->
                </td>
                <td>
                    <a class="nav-link" th:href="@{'/worker/'+${car.id}+'/car-delete'}">
                        <button class="btn btn-outline-danger" type="button">USUŃ</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

</body>
</html>
