<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/header :: header"></head>


<body>
<div th:replace="fragments/top-nav :: top-nav"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="offset-md-1" th:text=" 'AutoKomis - ' + ${title}"></h3>
            <div class="row offset-md-1">
                <div class="col-md-6">
                    <a class="nav-link" th:href="@{'/employee/all-customers'}">
                        <div class="">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-text">Klienci AutoKomis.pl</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="nav-link" th:href="@{'/employee/interested-customers'}">
                        <div class="">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-text">Zaintersowanie ofertą</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6"
                     sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{'/employee/service-users'}">
                        <div class="">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-text">Autoryzowani użytkownicy</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>