<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>AutoKomis.pl</title>
</head>
<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main" layout:fragment="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="input-group mb-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 order-md-1">
            <h4 class="mb-3">Informacja o kliencie</h4>
            <form class="needs-validation" novalidate th:action="@{/worker/customer-save}" method="post"
                  th:object="${customer}">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" class="form-control"
                               th:field="*{customerNumber}" readonly hidden>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Imię</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value=""
                               required th:field="*{firstName}">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Nazwisko</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value=""
                               required th:field="*{lastName}">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="address">Adres</label>
                        <input type="text" class="form-control" id="address" placeholder="" value=""
                               required th:field="*{address}">
                        <div class="invalid-feedback">
                            Valid address is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="tin">NIP</label>
                        <input type="text" class="form-control" id="tin" placeholder="" value=""
                               required th:field="*{tin}">
                        <div class="invalid-feedback">
                            Valid tax number is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="pesel">Pesel</label>
                        <input type="text" class="form-control" id="pesel" placeholder="" value=""
                               required th:field="*{pesel}">
                        <div class="invalid-feedback">
                            Valid pesel is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="phoneNumber">Numer telefonu</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="" value=""
                               required th:field="*{phoneNumber}">
                        <div class="invalid-feedback">
                            Valid pesel is required.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3 offset-3">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">OK</button>
                </div>
                <hr class="mb-4">
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 AutoKomis.pl</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</main>
</body>
</html>