<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/header :: header"></head>


<body>
<div th:replace="fragments/top-nav :: top-nav"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="offset-md-1" th:text=" 'AutoKomis - ' + ${title}"></h3>
            <div class="row offset-md-1">
                <div class="col-md-4">
                    <a class="nav-link" th:href="@{'/employee/sellCar'}">
                        <div class="">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-text">Sprzedaż samochodu</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="nav-link" th:href="@{'/employee/buyCar'}">
                        <div class="">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-text">Zakup samochodu</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="nav-link" th:href="@{'/employee/acceptCar'}">
                        <div class="">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-text">Przyjęcie auta na komis</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>