<div class="container" th:fragment="customers-list"
     xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="table-responsive ">
                <p class="warning" th:text="${message}"></p>
                <table class="table table-striped table-md text-center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Pesel</th>
                        <th>Podgląd</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c :${customers}">
                        <td style="font-size: 18px;" th:text="${c.getId()}"></td>
                        <td style="font-size: 18px;" th:text="${c.getFirstName()}"></td>
                        <td style="font-size: 18px;" th:text="${c.getLastName()}"></td>
                        <td style="font-size: 18px;" th:text="${c.getPesel()}"></td>
                        <!--Show info about customer-->
                        <td>
                            <a th:href="@{../more/{id}(id=${c.getId()})}">
                                <button class="btn btn-outline-info" type="button">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </a>
                        </td>
                        <!--Delete customer-->
                        <td>
                            <a data-backdrop="static" data-target="#modal-warning" data-toggle="modal"
                               th:attr="data-target='#modal-warning'+${c.getId() }">
                                <button class="btn btn-outline-danger" type="button">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </a>
                            <div class="modal modal-warning fade in" th:id="modal-warning+${c.getId() }">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Potwierdź usunięcie</h5>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Czy napewno chcesz usunąć klienta
                                                <span class="font-weight-bold"
                                                      th:text="${c.getFirstName()} + ' ' + ${c.getLastName()}"></span>
                                                ,pesel
                                                <span class="font-weight-bold" th:text="${c.getPesel()}"></span>
                                                ?</h6>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-outline-success pull-left" data-dismiss="modal"
                                                    type="button">Zamknij
                                            </button>
                                            <form method="post" th:action="@{/customers/{id}(id=${c.getId()})}">
                                                <button class="btn btn-outline-danger" type="submit">Potwierdź
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="pagination justify-content-center" th:if="${pages.totalPages gt 1}">
        <li class="page-item" th:if="${pages.hasPrevious()}">
            <a class="page-link" th:href="@{/customers(page=${pages.number-1})}">Poprzednia</a>
        </li>
        <li class="page-item" th:classappend="${currentPage} == ${i} ? 'active':''"
            th:each="i: ${#numbers.sequence(0, pages.totalPages - 1)}">
            <a class="page-link" th:href="@{/customers(page=${i})}" th:text="${i+1}"></a>
        </li>
        <li class="page-item" th:if="${pages.hasNext()}">
            <a class="page-link" th:href="@{/customers(page=${pages.number+1})}">Następna</a>
        </li>
    </ul>
</div>