<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:object="${currentUser}" th:replace="fragments/top-nav :: top-nav"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="col-md-10 offset-md-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a th:href="@{/}"><i class="fas fa-warehouse"></i></a></li>
                <li aria-current="page" class="breadcrumb-item active">Klienci</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-10 offset-md-2 alert alert-success alert-dismissible fade show" role="alert"
         th:if="${flag} eq true">
        <p th:text="${msg}"></p>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-md-10 offset-md-2" sec:authorize="hasAnyRole('ROLE_CLIENT')">
        Ta część aplikacji wymaga podwyższonych uprawnień!
    </div>
    <div class="col-md-10 offset-md-2" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER')">
        <button class="btn btn-success" data-backdrop="static" data-target="#addNewCustomer" data-toggle="modal"
                type="button">
            Dodaj klienta
        </button>
        <div class="modal fade-in" id="addNewCustomer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dodawanie klienta komisu</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/customers}" th:object="${newCustomer}">
                            <div class="form-row">
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="firstName" name="firstName" placeholder="Imię"
                                           pattern="[A-Za-z]{2,15}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="lastName" name="lastName" placeholder="Nazwisko"
                                           pattern="[A-Za-z]{2,20}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="phoneNumber" name="phoneNumber"
                                           pattern="[0-9]{9,9}"
                                           placeholder="Telefon 9 cyfr" required type="text">
                                </div>
                                <div class="form-group col-xl-12">
                                    <input class="form-control" id="address" name="address"
                                           placeholder="Adres"
                                           pattern="[a-zA-Z0-9 /\\@#$%&]+{2,20}" required type="text">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="tin" name="tin" placeholder="NIP"
                                           pattern="[0-9]{10,10}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="pesel" name="pesel" placeholder="Pesel"
                                           pattern="[0-9]{11,11}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="idNumber" name="idNumber"
                                           placeholder="Dowód osobisty"
                                           pattern="[A-Za-z0-9]{9,9}" required type="text">
                                </div>
                                <div class="form-group col-xl-12">
                                    <input class="form-control" id="email" name="email" placeholder="Email"
                                           required type="email">
                                </div>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button class="btn btn-outline-danger" data-dismiss="modal"
                                        type="button">Zamknij
                                </button>
                                <button class="btn btn-outline-success" type="submit">Potwierdź
                                    zmiany
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!--customers search-->
    <div class="offset-md-2" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS', 'ROLE_WORKER')">
        <div class="col-md-12">
            <form th:action="@{/customers/search}" th:method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <input class="form-control" name="firstName" placeholder="Imię" type="text">
                    </div>
                    <div class="input-group-prepend">
                        <input class="form-control" name="lastName" placeholder="Nazwisko" type="text">
                    </div>
                    <div class="input-group-prepend">
                        <input class="form-control" name="pesel" placeholder="Pesel" type="number">
                    </div>
                    <div class="input-group-prepend">
                        <input class="form-control" name="tin" placeholder="Nip" type="number">
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Filtruj
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--customers list-->
    <div class="offset-md-2" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS', 'ROLE_WORKER')">
        <div th:object="${customers}" th:replace="customers/customers-list :: customers-list">
        </div>
    </div>
</div>

</body>
</html>