<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:object="${currentUser}" th:replace="fragments/top-nav :: top-nav"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="col-md-10 offset-md-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a th:href="@{/}"><i class="fas fa-warehouse"></i></a></li>
                <li aria-current="page" class="breadcrumb-item active">Samochody</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-10 offset-md-2 alert alert-success alert-dismissible fade show" role="alert"
         th:if="${flag} eq true">
        <p th:text="${msg}"></p>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-md-10 offset-md-2 alert alert-warning alert-dismissible fade show" role="alert"
         th:if="${bad} eq true">
        <p th:text="${badMsg}"></p>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--add new car-->
    <div class="col-md-10 offset-md-2" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORKER')">
        <button class="btn btn-success" data-backdrop="static" data-target="#addNewCar" data-toggle="modal"
                type="button">
            Dodaj samochód
        </button>
        <div class="modal fade-in" id="addNewCar">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dodawanie samochodu do systemu</h5>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/cars}"
                              th:method="post"
                              th:object="${newCessionEvent}">
                            <!--Car-->
                            <h6 class="modal-title">Dane samochodu</h6>
                            <div class="form-row">
                                <div class="form-group col-xl-6">
                                    <input class="form-control" id="mark" name="mark" placeholder="Marka pojazdu"
                                           pattern="[A-Za-z]{2,10}" required type="text">
                                </div>
                                <div class="form-group col-xl-6">
                                    <input class="form-control" id="model" name="model" placeholder="Model pojazdu"
                                           pattern="[A-Za-z]{2,10}" required type="text">
                                </div>
                                <div class="form-group col-xl-6">
                                    <input class="form-control" id="bodyNumber" name="bodyNumber"
                                           placeholder="Numer nadwozia"
                                           maxlength="17" pattern="[A-HJ-NPR-Z0-9]{17}"
                                           required
                                           type="text">
                                </div>
                                <div class="form-group col-xl-6">
                                    <input class="form-control" id="ocNumber" name="ocNumber"
                                           placeholder="Numer polisy"
                                           pattern="[A-Z0-9]{2,30}" required type="text">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xl-6">
                                    <input class="form-control" id="distance" name="distance" placeholder="Przebieg"
                                           max="999999" min="1" required type="number">
                                </div>

                                <div class="form-group col-xl-6">
                                    <input class="form-control" id="price" name="price" placeholder="Cena"
                                           min="5000" required type="number">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="productionYear" name="productionYear"
                                           placeholder="Rok produkcji"
                                           max="2021" min="1960" required type="number">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="capacityEngine" name="capacityEngine"
                                           placeholder="Pojemność silnika"
                                           max="99999" min="400" required type="number">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="powerEngine" name="powerEngine"
                                           placeholder="Moc silnika"
                                           max="999" min="1" required type="number">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xl-4">
                                    <select class="custom-select" id="fuelType" name="fuelType" required>
                                        <option selected="selected" value=" ">Paliwo...</option>
                                        <option th:each="type:${T(com.example.cardealer.utils.enums.FuelType).values()}"
                                                th:text="${type.getType()}"
                                                th:value="${type.name()}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-xl-4">
                                    <select class="custom-select" id="bodyType" name="bodyType" required>
                                        <option selected="selected" value=" ">Rodzaj nadwozia...</option>
                                        <option th:each="type:${T(com.example.cardealer.utils.enums.BodyType).values()}"
                                                th:text="${type.getType()}"
                                                th:value="${type.name()}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-xl-4">
                                    <select class="custom-select" id="transmission" name="transmission" required>
                                        <option selected="selected" value=" ">Skrzynia biegów...</option>
                                        <option th:each="type:${T(com.example.cardealer.utils.enums.Transmission).values()}"
                                                th:text="${type.getType()}"
                                                th:value="${type.name()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="description"></label>
                                <textarea class="form-control" id="description" name="description" placeholder=""
                                          required
                                          rows="3"></textarea>
                            </div>
                            <h6 class="modal-title">Dane właściciela</h6>
                            <!--Owner Car-->
                            <div class="form-row">
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="firstName" name="firstName" placeholder="Imię"
                                           pattern="[A-Za-z]{2,15}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="lastName" name="lastName" placeholder="Nazwisko"
                                           pattern="[A-Za-z]{2,20}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="phoneNumber" name="phoneNumber"
                                           pattern="[0-9]{9,9}"
                                           placeholder="Telefon 9 cyfr" required type="text">
                                </div>
                                <div class="form-group col-xl-12">
                                    <input class="form-control" id="address" name="address"
                                           placeholder="Adres"
                                           pattern="[a-zA-Z0-9 /\\@#$%&]+{2,20}" required type="text">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="tin" name="tin" placeholder="NIP"
                                           pattern="[0-9]{10,10}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="pesel" name="pesel" placeholder="Pesel"
                                           pattern="[0-9]{11,11}" required type="text">
                                </div>
                                <div class="form-group col-xl-4">
                                    <input class="form-control" id="idNumber" name="idNumber"
                                           placeholder="Dowód osobisty"
                                           pattern="[A-Za-z0-9]{9,9}" required type="text">
                                </div>
                                <div class="form-group col-xl-12">
                                    <input class="form-control" id="email" name="email" placeholder="Email"
                                           required type="email">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-outline-danger" data-dismiss="modal" type="button">
                                    Zamknij
                                </button>
                                <button class="btn btn-outline-success" type="submit">Potwierdź</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!--search cars-->
    <div class="col-md-10 offset-md-2" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORKER')">
        <form th:action="@{/cars/search}" th:method="post">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="custom-select overflow-hidden" id="carMark" name="mark" type="text">
                        <option selected value="">Marka</option>
                        <option th:each="type:${markList}"
                                th:text="${type}"
                                th:value="${type}"></option>
                    </select>
                </div>
                <div class="input-group-prepend">
                    <input class="form-control" name="maxYear" placeholder="Rocznik maksymalny" type="text">
                </div>
                <div class="input-group-prepend">
                    <input class="form-control" name="maxPrice" placeholder="Cena maksymalna" type="text">
                </div>
                <div class="input-group-prepend">
                    <select class="form-control" name="status" type="text">
                        <option selected value="">Status</option>
                        <option value="AVAILABLE">Dostępny</option>
                        <option value="SOLD">Sprzedany</option>
                        <option value="ACCEPTED">Zatwierdzony</option>
                        <option value="WAIT">Oczekujący</option>
                        <option value="DELETED">Usunięty</option>
                    </select>
                </div>
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Filtruj
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--show cars in list-->
    <div class="offset-md-2"
         sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORKER', 'ROLE_MECHANIC', 'ROLE_CLIENT' )">
        <div th:object="${cars}" th:replace="cars/cars-list :: cars-list"></div>
    </div>
</div>
</body>
</html>