<div class="col-md-10 ml-sm-auto col-lg-10 col-xl-10" th:fragment="search"
     xmlns:th="http://www.thymleaf.org">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <form th:action="@{/search}" th:method="post" th:object="${searchCar}">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="markField">Marka</label>
                </div>
                <select class="custom-select" id="markField" name="mark" type="text">
                    <option selected value="">Wybierz...</option>
                    <option th:each="type:${markList}"
                            th:text="${type}"
                            th:value="${type}"></option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="production_year">Rocznik maksymalny</label>
                </div>
                <select class="custom-select" id="production_year" name="maxYear" type="text">
                    <option selected value="">Wybierz...</option>
                    <option th:each="year:${years}"
                            th:text="${year}"
                            th:value="${year}"></option>
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text">Cena maksymalna</span>
                    <input class="form-control" name="maxPrice" placeholder="Cena maksymalna" type="text">
                    <span class="input-group-text">PLN</span>
                </div>
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Szukaj
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>