<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="top-nav"
     xmlns:th="http://www.thymleaf.org">
    <a class="navbar-brand col-sm-3 col-md-2 nav-link" th:href="@{/}">AutoKomis.pl</a>
    <p th:text="${message}"></p>
    <a th:href="@{/sale}">
        <button class="btn btn-light">Sprzedaj samochód</button>
        <span data-feather="file-text"></span>
    </a>
    <a th:href="@{/owner}">
        <button class="btn btn-light">Mój AutoKomis.pl</button>
        <span data-feather="file-text"></span>

    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/login}">Zaloguj
                <span data-feather="log-in"></span>
            </a>
        </li>
    </ul>
</nav>