<div class="col-md-10 ml-sm-auto col-lg-10 main" role="main" th:fragment="welcome" xmlns:th="http://www.thymleaf.org">
    <div class="jumbotron text-dark rounded bg-white col-md-12" id="jumbotron">
        <div class="col-md-6 px-0">
            <h2 class="display-5 font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>