<div class="main" role="main" th:fragment="welcome" xmlns:th="http://www.thymleaf.org">
    <div class="jumbotron text-dark rounded bg-white col-md-12" id="jumbotron">
        <div class="col-md-6 px-0">
            <h2 class="display-5 font-italic">AutoKomis.pl - wsparcie funkcjonowania komisu samochodowego.</h2>
            <p class="lead my-3">Apliakcja wykorzystuje technologie Spring Boot 2, Thymleaf, H2, Bootstrap, Hibernate.
                Umożliwia kompleksową obsługę działania komisów samochodowych - od przyjęcia pjazdu na komis,
                jego ewentualną naprawę/lifting przez upublicznienie pojazdu do sprzedaży, a także dokumenty, umowy,
                faktury. Zalogowanie do systemu możliwe na podstawie informacji zamieszczonych na stronie logowania.
            </p>

        </div>
    </div>
</div>