<div class="container" th:fragment="agreements-list" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="table-responsive ">
                <table class="table table-striped table-sm text-center">
                    <thead>
                    <tr>
                        <th>Numer umowy</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Numer nadwozia</th>
                        <th>Właściciel</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ag : ${agreements}">
                        <td style="font-size: 18px;" th:text="${ag.getId()}"></td>
                        <td style="font-size: 18px;" th:text="${ag.getCarMark()}"></td>
                        <td style="font-size: 18px;" th:text="${ag.getCarModel()}"></td>
                        <td style="font-size: 18px;" th:text="${ag.getCarBodyNumber()}"></td>
                        <td style="font-size: 18px;"
                            th:text="${ag.getCustomerFirstName()}+' '+${ag.getCustomerLastName()}"></td>
                        <td>
                            <a class="nav-link" th:href="@{'/worker/details/' + ${ag.getId()}}">
                                <button class="btn btn-outline-info" type="button">PODGLĄD UMOWY</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>