<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/top-nav :: top-nav"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3><span th:text="${owner.getFirstName()}+' '+${owner.getLastName()}"></span> - Lista samochodów </h3>
            <div class="offset-md-1">
                <div th:object="${cars}" th:replace="owner-cars-list :: owner-cars-list"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>