<div class="container" th:fragment="client-add-car" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-11 order-md-1">
            <h4 class="mb-3">Informacje o pojeździe</h4>
            <form class="needs-validation" novalidate th:action="@{'/customer/'+${owner.getOwnerId()}+'/addCar'}"
                  th:method="post"
                  th:object="${car}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="markName">Marka pojazdu</label>
                        <input class="form-control" id="markName" name="mark" placeholder="FSO" required type="text"
                               value="">
                        <div class="invalid-feedback">
                            Valid mark name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="modelName">Model pojazdu</label>
                        <input class="form-control" id="modelName" name="model" placeholder="Polonez" required
                               type="text" value="">
                        <div class="invalid-feedback">
                            Valid model name is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="productionYear">Rok produkcji</label>
                        <input class="form-control" id="productionYear" name="productionYear" placeholder="1999"
                               required
                               type="text" value="">
                        <div class="invalid-feedback">
                            Valid production year is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="vinBody">Numer nadwozia</label>
                        <input class="form-control" id="vinBody" name="bodyNumber" placeholder="POLONEZ151999XYZ"
                               required
                               type="text" value="">
                        <div class="invalid-feedback">
                            Valid body vin is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="registerNumber">Numer rejestracyjny</label>
                        <input class="form-control" id="registerNumber" name="regNumber" required type="text"
                               value="">
                        <div class="invalid-feedback">
                            Valid register number is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="policyNumber">Numer polisy</label>
                        <input class="form-control" id="policyNumber" name="ocNumber" required type="text"
                               value="">
                        <div class="invalid-feedback">
                            Valid policy number is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fuelType">Rodzaj paliwa</label>
                        <select class="form-control" id="fuelType" name="fuelType">
                            <option selected="selected" value=" ">Wybierz...</option>
                            <option th:each="type:${T(com.example.cardealer.model.enums.FuelType).values()}"
                                    th:value="${type}"
                                    th:text="${type.getType()}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Valid fuel type is required.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="distance">Przebieg</label>
                        <input class="form-control" id="distance" name="distance" placeholder="" required type="text"
                               value="">
                        <div class="invalid-feedback">
                            Valid distance is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="capacityEngine">Pojemność silnika</label>
                        <input class="form-control" id="capacityEngine" name="capacityEngine" placeholder="" required
                               type="text"
                               value="">
                        <div class="invalid-feedback">
                            Valid capacity engine is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="powerEngine">Moc silnika</label>
                        <input class="form-control" id="powerEngine" name="powerEngine" placeholder="" required
                               type="text"
                               value="">
                        <div class="invalid-feedback">
                            Valid power engine is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="transmission">Rodzaj skrzyni biegów</label>
                        <select class="form-control" id="transmission" name="transmission">
                            <option selected="selected" value=" ">Wybierz...</option>
                            <option th:each="type:${T(com.example.cardealer.model.enums.Transmission).values()}"
                                    th:value="${type}"
                                    th:text="${type.getType()}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Valid transmission type is required.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="price">Proponowana cena</label>
                        <input class="form-control" id="price" name="price" placeholder="" required type="text">
                        <div class="invalid-feedback">
                            Valid price is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-6">
                        <label for="description">Opis</label>
                        <textarea class="form-control" id="description" name="description" placeholder="" required
                                  rows="8"
                                  type="text"></textarea>
                        <div class="invalid-feedback">
                            Valid price is required.
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-6 mb-3 offset-3">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Dodaj pojazd</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2018 Company Name</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>

