<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="top-nav :: nav"></div>
<div th:replace="sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <table class="table">
                <tbody th:object="${car}">
                <tr>
                    <td>Status</td>
                    <td th:text="${car.getStatus().getStatus()}"></td>
                </tr>
                <tr>
                    <td>Marka</td>
                    <td th:text="${car.getMark()}"></td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td th:text="${car.getModel()}"></td>
                </tr>
                <tr>
                    <td>Rok produkcji</td>
                    <td th:text="${car.getProductionYear()}"></td>
                </tr>
                <tr>
                    <td>Przebieg</td>
                    <td th:text="${car.getDistance()}"></td>
                </tr>
                <tr>
                    <td>Typ Nadwozia</td>
                    <td th:text="${car.getBodyType().getBodyType()}"></td>
                </tr>
                <tr>
                    <td>Skrzynia Biegów</td>
                    <td th:text="${car.getTransmission().getType()}"></td>
                </tr>
                <tr>
                    <td>Moc [KM]</td>
                    <td th:text="${car.getPowerEngine()}"></td>
                </tr>
                <tr>
                    <td>Pojemność silnika[ccm]</td>
                    <td th:text="${car.getCapacityEngine()}"></td>
                </tr>
                <tr>
                    <td>Rodaj paliwa</td>
                    <td th:text="${car.getFuelType().getType()}"></td>
                </tr>
                <tr>
                    <td>VIN</td>
                    <td th:text="${car.getBodyNumber()}"></td>
                </tr>
                <tr>
                    <td>Cena [pln]</td>
                    <td th:text="${car.getPrice()}"></td>
                </tr>
                <tr>
                    <td>Jazdy testowe</td>
                    <td th:text="${car.getTestDrive()}"></td>
                </tr>
                <tr>
                    <td>Opis samochodu</td>
                    <td th:text="${car.getDescription()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
</div>
</body>
</html>
