<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="top-nav :: nav"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="sidebar :: sidebar"></div>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4 main" role="main">
            <div class="jumbotron p-3 p-md-5 text-dark rounded bg-white col-md-12" id="jumbotron">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                    <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <form th:action="@{/filter}" method="post" th:object="${cars}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="markField">Marka</label>
                        </div>
                        <select class="custom-select" id="markField">
                            <option selected value=" ">Wybierz...</option>
                            <option th:each="type:${markList}"
                                    th:value="${type}"
                                    th:text="${type}"
                            ></option>

                        </select>
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="model">Model</label>
                        </div>
                        <select class="custom-select" id="model">
                            <option selected value=" ">Wybierz</option>
                            <option th:each="type:${modelList}"
                                    th:value="${type}"
                                    th:text="${type}"></option>

                        </select>
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="production_year">Rocznik</label>
                        </div>
                        <select class="custom-select" id="production_year">
                            <option selected value=" "></option>
                            <option th:each="year:${years}"
                                    th:value="${year}"
                                    th:text="${year}"></option>
                        </select>
                        <select class="custom-select">
                            <option selected value=" "></option>
                            <option th:each="year:${years}"
                                    th:value="${year}"
                                    th:text="${year}"></option>
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text">Cena</span>
                            <input type="text" aria-label="minPrice" class="form-control" placeholder="Od">
                            <span class="input-group-text">PLN</span>
                            <input type="text" aria-label="maxPrice" class="form-control" placeholder="Do">
                            <span class="input-group-text">PLN</span>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" hidden>Filtruj
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive ">
                <table class="table table-striped table-sm text-center">
                    <thead>
                    <tr>
                        <th>Zdjęcie</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Rok produkcji</th>
                        <th>Przebieg</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cars}">
                        <td>
                            <img th:src="@{/images/index/images.jpg}" width="275" height="183"/>
                        </td>
                        <td style="font-size: 18px;" th:text="${car.getMark()}"></td>
                        <td style="font-size: 18px;" th:text="${car.getModel()}"></td>
                        <td style="font-size: 18px;" th:text="${car.getProductionYear()}"></td>
                        <td style="font-size: 18px;" th:text="${car.getDistance()}"></td>
                        <td style="font-size: 24px; color: #F00;" th:text="${car.getPrice()}+' '+PLN"></td>
                        <td>
                            <a class="nav-link" th:href="@{'/customer/'+${car.getId()}+'/details'}">
                                <button class="btn btn-outline-info" type="button">SZCZEGÓŁY</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

</body>
</html>
