<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="col-xl-12" th:replace="fragments/top-nav :: top-nav"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div th:replace="fragments/welcome :: welcome"></div>
        <div th:replace="fragments/search :: search"></div>

    </div>
</div>
<div class="container-fluid">
    <div th:replace="fragments/content :: content"></div>
</div>

</body>
</html>
