<div class="container" th:fragment="invoices-list" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="table-responsive ">
                <table class="table table-striped table-sm text-center">
                    <thead>
                    <tr>
                        <th>Numer faktury</th>
                        <th>Data</th>
                       <!-- <th>Imię</th>
                        <th>Nazwisko</th>-->
                        <th>Wartość</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${invoices}">
                        <td style="font-size: 18px;" th:text="${i.getInvoiceNumber()}"></td>
                        <td style="font-size: 18px;" th:text="${i.getDateOfIssue()}"></td>
                        <!--<td style="font-size: 18px;" th:text="${i.getCustomer()}"></td>
                        <td style="font-size: 18px;" th:text="${i.getCustomer()}"></td>-->
                        <td style="font-size: 18px;" th:text="${i.getPrice()}"></td>
                        <!--<td style="font-size: 18px;"
                            th:text="${ag.getCustomerFirstName()}+' '+${ag.getCustomerLastName()}"></td>-->
                        <td>
                            <a class="nav-link" th:href="@{'/worker/details/' + ${i.getId()}}">
                                <button class="btn btn-outline-info" type="button">PODGLĄD FAKTURY</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>