<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/top-nav :: top-nav"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="width: 200px; margin: 15% auto">
                <div class="login-form">
                    <form method="post" th:action="@{/login}">
                        <div class="alert alert-error" th:if="${param.error}">
                            Invalid username and password.
                        </div>
                        <div class="alert alert-success" th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-at"></i></i></span>
                                <input class="form-control" name="username" placeholder="E-mail" required="required"
                                       type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" name="password" placeholder="Hasło" required="required"
                                       type="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Zaloguj mnie</button>
                        </div>
                        <a class="nav-link" th:href="@{/register}">Nie mam konta w serwisie</a>
                        <!--<a class="nav-link" th:href="@{/resetPassword}">Przypomnij mi hasło</a>-->
                    </form>
                    <hr>
                    <div class="col-lg-12">
                        <h6>
                            login:
                            admin@gmail.com
                            boss@gmail.com
                            worker@gmail.com
                            mechanic@gmail.com
                        </h6>
                        <h6>password: az</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>