<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/top-nav :: top-nav"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-10 text-center offset-md-2">
            <h4 class="mb-3">Podaj informacje o sprzedawanym samochodzie</h4>
            <form class="needs-validation" novalidate th:action="@{'/worker/sell/'+${carDto.getId()}}"
                  th:method="post" th:object="${person}">
                <input hidden name="ownerId" th:object="${carDto}" th:value="${carDto.setOwnerId(person.getOwnerId())}">
                <h5>Nowy właściciel pojazdu</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName"></label>
                        <input class="form-control" id="firstName" name="firstName" placeholder="Imię" required
                               th:value="${person.getFirstName()}"
                               type="text">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName"></label>
                        <input class="form-control" id="lastName" name="lastName" placeholder="Nazwisko" required
                               th:value="${person.getLastName()}"
                               type="text">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="address"></label>
                        <input class="form-control" id="address" name="address" placeholder="Adres" required
                               th:value="${person.getAddress()}"
                               type="text">
                        <div class="invalid-feedback">
                            Valid address is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="phoneNumber"></label>
                        <input class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Telefon"
                               required th:value="${person.getPhoneNumber()}" type="text">
                        <div class="invalid-feedback">
                            Valid date is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="pesel"></label>
                        <input class="form-control" id="pesel" name="pesel" placeholder="Pesel" required
                               th:value="${person.getPesel()}"
                               type="text">
                        <div class="invalid-feedback">
                            Valid pesel is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="tin"></label>
                        <input class="form-control" id="tin" name="tin" placeholder="NIP" required
                               th:value="${person.getTin()}"
                               type="text">
                        <div class="invalid-feedback">
                            Valid tax number is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="email"></label>
                        <input class="form-control" id="email" name="email" placeholder="e-mail" required
                               th:value="${person.getEmail()}"
                               type="text">
                        <div class="invalid-feedback">
                            Valid tax number is required.
                        </div>
                    </div>
                </div>
                <h5>Kwota za jaką pojazd zostaje sprzedany</h5>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="price"></label>
                        <input class="form-control" id="price" name="price" placeholder="Cena pojazdu" required
                               th:value="${carDto.getPrice()}"
                               type="text">
                        <div class="invalid-feedback">
                            Valid pesel is required.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3 offset-sm-3">
                    <label for="send"></label>
                    <button class="btn btn-secondary btn-lg btn-block" id="send" type="submit">Sprzedaj
                    </button>
                </div>
                <hr class="mb-4">
            </form>
        </div>
    </div>
</div>

</body>
</html>
