<div class="container" th:fragment="owner-cars-list" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="table-responsive ">
                <table class="table table-striped table-sm text-center">
                    <thead>
                    <tr>
                        <th>VIN</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Status pojazdu</th>
                        <th>Jazdy testowe</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cars}">
                        <td style="font-size: 18px;" th:text="${car.getBodyNumber()}"></td>
                        <td style="font-size: 18px;" th:text="${car.getMark()}"></td>
                        <td style="font-size: 18px;" th:text="${car.getModel()}"></td>
                        <td style="font-size: 18px;" th:text="${car.getStatus().getStatus()}"></td>
                        <td style="font-size: 18px;" th:text="${car.getTestDrive()}"></td>
                        <td>
                            <a class="nav-link" th:href="@{'/owner/'+ ${car.getId()} + '/update-car'}">
                                <button class="btn btn-outline-info" type="button">EDYTUJ</button>
                            </a>
                        </td>
                        <td>
                            <a class="nav-link" th:href="@{'/owner/'+ ${car.getId()} + '/details'}">
                                <button class="btn btn-outline-info" type="button">SZCZEGÓŁY</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>