<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="top-nav :: nav"></div>
<div th:replace="sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-10 text-center offset-md-2">
            <h4 class="mb-3">Informacje o właścicielu</h4>
            <form class="needs-validation" novalidate th:action="@{'/customer/update'}" th:method="put"
                  th:object="${owner}">
                <div class="row">
                    <label for="ownerId"></label>
                    <input class="form-control" hidden id="ownerId" name="ownerId"
                           readonly th:value="${owner.getOwnerId()}" type="text">
                    <div class="col-md-6 mb-3">
                        <label for="firstName"></label>
                        <input class="form-control" id="firstName" name="firstName" placeholder="Imię" required
                               th:value="${owner.getFirstName()}" type="text">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName"></label>
                        <input class="form-control" id="lastName" name="lastName" placeholder="Nazwisko" required
                               th:value="${owner.getLastName()}" type="text">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="address"></label>
                        <input class="form-control" id="address" name="address" placeholder="Adres" required
                               th:value="${owner.getAddress()}" type="text">
                        <div class="invalid-feedback">
                            Valid address is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="tin"></label>
                        <input class="form-control" id="tin" name="tin" placeholder="NIP" required
                               th:value="${owner.getTin()}" type="text">
                        <div class="invalid-feedback">
                            Valid tax number is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="pesel"></label>
                        <input class="form-control" id="pesel" name="pesel" placeholder="Pesel" required
                               th:value="${owner.getPesel()}" type="text">
                        <div class="invalid-feedback">
                            Valid pesel is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="phoneNumber"></label>
                        <input class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Telefon"
                               required th:value="${owner.getPhoneNumber()}" type="text">
                        <div class="invalid-feedback">
                            Valid date is required.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3 offset-sm-3">
                    <label for="send"></label>
                    <button class="btn btn-secondary btn-lg btn-block" id="send" type="submit">Edytuj właściciela
                    </button>
                </div>
                <hr class="mb-4">
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

</body>
</html>
