<div class="container" th:fragment="agreements-list" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="table-responsive ">
                <table class="table table-striped table-sm text-center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Data</th>
                        <th>Numer umowy</th>
                        <th>Numer faktury</th>
                        <th>Wartość</th>
                        <th>Podgląd</th>
                        <th>Rodzaj</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ag : ${agreements}">
                        <td style="font-size: 18px;" th:text="${ag.getId()}"></td>
                        <td style="font-size: 18px;" th:text="${ag.getCreatedAt()}"></td>
                        <td style="font-size: 18px;" th:text="${ag.getAgreementNumber()}"></td>
                        <td style="font-size: 18px;" th:text="${ag.getAgreementInvoiceNumber()}"></td>
                        <td style="font-size: 18px;" th:text="${ag.getAgreementAmount()}"></td>
                        <td>
                            <a th:href="@{'/'}">
                                <button class="btn btn-outline-info" type="button">
                                    <i class="far fa-eye"></i>
                                </button>
                            </a>
                        </td>
                        <td th:if="${ag.getTransaction() eq 'PURCHASE'} ">
                            <span class="badge badge-pill badge-info">ZAKUP</span>
                        </td>
                        <td th:if="${ag.getTransaction() eq 'SALE'} ">
                            <span class="badge badge-pill badge-success">SPRZEDAŻ</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="pagination justify-content-center" th:if="${pages.totalPages gt 1}">
        <li class="page-item" th:if="${pages.hasPrevious()}">
            <a class="page-link" th:href="@{/agreements(page=${pages.number-1})}">Poprzednia</a>
        </li>
        <li class="page-item" th:classappend="${currentPage} == ${i} ? 'active':''"
            th:each="i: ${#numbers.sequence(0, pages.totalPages - 1)}">
            <a class="page-link" th:href="@{/agreements(page=${i})}" th:text="${i+1}"></a>
        </li>
        <li class="page-item" th:if="${pages.hasNext()}">
            <a class="page-link" th:href="@{/agreements(page=${pages.number+1})}">Następna</a>
        </li>
    </ul>
</div>