<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:object="${currentUser}" th:replace="fragments/top-nav :: top-nav"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="col-md-10 offset-md-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a th:href="@{/}"><i class="fas fa-warehouse"></i></a></li>
                <li aria-current="page" class="breadcrumb-item active">Umowy</li>
            </ol>
        </nav>
    </div>
    <div class="offset-md-2" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORKER','ROLE_CLIENT')">
        <div th:object="${agreements}" th:replace="agreements/agreements-list :: agreements-list"></div>
    </div>
</div>

</body>
</html>